:root {
  --black-color: #000000;
  --white-color: #ffffff;
  --heading-black-color: #212121;
  --modal-head-text-color: #212121;
  --paragraph-gray-color: #757575;
  --accent-color: #2196F3;
  --hero-button-accent: #188CE8;
  --dark-background-color: #2F303A;
  --fake-white: #F5F4FA;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --footer-icons-background: rgba(255, 255, 255, 0.1);
  --shadow-color-one: rgba(0, 0, 0, 0.1);
  --shadow-color-two: rgba(0, 0, 0, 0.08);
  --shadow-color-three: rgba(0, 0, 0, 0.12);
  --heading-line: #ECECEC;
  --portfolio-line: #EEEEEE;
  --hero-background: #C4C4C4;
  --icon-passive-color: #AFB1B8;
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --studio-text-background: rgba(47, 48, 58, 0.8);
  --project-text-background: rgba(33, 150, 243, 0.9);
  --backdrop-background: rgba(0, 0, 0, 0.2);
  --modal-button-bor: rgba(0, 0, 0, 0.1);
}

body {
  font-family: "Roboto";
  color: var(--paragraph-gray-color);
  margin: 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.btn {
  cursor: pointer;
  color: var(--white-color);
  background: var(--accent-color);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.icon {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 22px;
}

.icon-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.icon-item {
  width: 44px;
  height: 44px;
}

.icon--link-light {
  background: var(--white-color);
  fill: var(--icon-passive-color);
  transition: fill var(--animation), background var(--animation);
}
.icon--link-light:hover, .icon--link-light:focus {
  fill: var(--white-color);
  background: var(--accent-color);
}

.icon--link-dark {
  background: var(--footer-icons-background);
  fill: var(--white-color);
  transition: fill var(--animation), background var(--animation);
}
.icon--link-dark:hover, .icon--link-dark:focus {
  fill: var(--white-color);
  background: var(--accent-color);
}

.logo {
  color: var(--accent-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo--color-light {
  color: var(--white-color);
}

.logo--color-dark {
  color: var(--black-color);
}

.header {
  background-color: var(--white-color);
  border-bottom: 1px solid var(--heading-line);
}
.header__container {
  display: flex;
  align-items: center;
  height: 60px;
}
@media screen and (min-width: 768px) {
  .header__container {
    height: auto;
  }
}

.header__logo-web {
  margin-right: 93px;
}

.navigation__list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
}

.navigation {
  display: none;
}
@media screen and (min-width: 768px) {
  .navigation {
    display: flex;
  }
}

.navigation__item {
  margin-right: 50px;
}
.navigation__item:last-child {
  margin: 0;
}

.navigation__link {
  display: block;
  color: var(--heading-black-color);
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color var(--animation);
  position: relative;
}
.navigation__link.current {
  color: var(--accent-color);
}
.navigation__link:hover, .navigation__link:focus {
  color: var(--accent-color);
}

.current::after {
  content: "";
  display: flex;
  background: var(--accent-color);
  height: 4px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 2px;
}

.contacts__list {
  display: none;
}
@media screen and (min-width: 768px) {
  .contacts__list {
    display: block;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__list {
    display: flex;
    align-items: flex-end;
  }
}

.contacts__item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  align-content: center;
}
@media screen and (min-width: 768px) {
  .contacts__item + .contacts__item {
    margin-top: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__item + .contacts__item {
    margin-left: 50px;
  }
}

.contacts__link {
  display: flex;
  align-self: center;
  color: var(--paragraph-gray-color);
  fill: var(--paragraph-gray-color);
  transition: color var(--animation), fill var(--animation);
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.contacts__icon-svg {
  display: inline-block;
  margin-right: 10px;
}

.mobile__wrapper {
  display: flex;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .mobile__wrapper {
    display: none;
  }
}

.mobile__button {
  background-color: transparent;
  border: transparent;
}

.mobile__menu-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--black-color);
}
.mobile__menu-svg:hover, .mobile__menu-svg:focus {
  fill: var(--accent-color);
}

.phone-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  z-index: 1;
  background-color: var(--white-color);
  padding-left: 40px;
  padding-right: 40px;
}
@media screen and (min-width: 768px) {
  .phone-container {
    display: none;
  }
}
.phone-container > .mobile-menu {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}

.mobile-menu {
  position: relative;
  width: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 48px;
  padding-bottom: 48px;
}
@media screen and (min-width: 480px) {
  .mobile-menu {
    width: 480px;
  }
}

.mobile__close-button {
  display: block;
  position: absolute;
  top: 8px;
  right: 3px;
  background-color: transparent;
  border: transparent;
}

.mobile__close-menu-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--black-color);
}
.mobile__close-menu-svg:hover, .mobile__close-menu-svg:focus {
  fill: var(--accent-color);
}

.navigation__close-item + .navigation__close-item {
  margin-top: 35px;
}

.navigation__close-link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--modal-head-text-color);
}

.contacts__close-list {
  margin-top: 64px;
}

.contacts__close-item-btm {
  margin-top: 32px;
}

.contacts__close-tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.contacts__close-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: var(--paragraph-gray-color);
}

.soc__close-list {
  margin-top: 64px;
  display: flex;
}

.soc__close-item {
  position: relative;
}
.soc__close-item:not(:first-child) {
  padding-left: 10px;
}
.soc__close-item::after {
  content: "";
  position: relative;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
  margin-left: 10px;
}
.soc__close-item:last-child::after {
  display: none;
}

.cosial-close-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.hero-section {
  background-color: var(--hero-background);
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-image-phone.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-image-phone-2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero-section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-image-tablet.jpg);
    padding-top: 118px;
    padding-bottom: 118px;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-image-tablet-2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero-section {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/box17.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/box17-2x.jpg);
  }
}

.hero-text {
  color: var(--white-color);
  font-weight: 900;
  margin-bottom: 30px;
  text-align: center;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .hero-text {
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
}

.hero-button {
  display: inline-block;
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  font-family: "Roboto";
  padding: 10px 32px;
  transition: background var(--animation);
}
.hero-button:hover, .hero-button:focus {
  background: var(--hero-button-accent);
}

.footer {
  background: var(--dark-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer .container {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer .container {
    align-items: baseline;
    display: flex;
    text-align: start;
  }
}
.footer .logo-studio {
  color: var(--white-color);
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .footer__studio-invite-connect {
    display: flex;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .footer__studio-invite-connect {
    align-items: baseline;
    display: flex;
    margin-right: 93px;
  }
}

.footer__space {
  display: block;
}
@media screen and (min-width: 768px) {
  .footer__space {
    display: inline-block;
  }
}
@media screen and (min-width: 1200px) {
  .footer__space {
    margin-right: 70px;
  }
}

.footer__logo-web {
  display: inline-block;
}

.address__street {
  margin-top: 20px;
}

.address__link {
  color: var(--white-color);
  transition: color var(--animation);
}
.address__link:hover, .address__link:focus {
  color: var(--accent-color);
}

.address__contacts-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-contacts-color);
  transition: color var(--animation);
}
.address__contacts-link:hover, .address__contacts-link:focus {
  color: var(--accent-color);
}

.address__contacts-item {
  font-style: normal;
  display: block;
  margin-top: 9px;
}

.invite__connection {
  display: block;
  margin-top: 60px;
}
@media screen and (min-width: 768px) {
  .invite__connection {
    display: inline-block;
    margin-top: 0px;
  }
}

.slogan__paragraph {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

.invite__icon-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.sub__connection {
  justify-content: center;
}

.sub__paragraph {
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .sub__paragraph {
    margin-top: 60px;
  }
}

.sub__external-form {
  align-items: baseline;
}
@media screen and (min-width: 1200px) {
  .sub__external-form {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 0px;
  }
}

.sub__email {
  margin-right: 12px;
}

.sub__user-input {
  background-color: transparent;
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  padding-right: 16px;
  color: var(--white-color);
  margin-bottom: 20px;
}
.sub__user-input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.sub__user-input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.sub__user-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (min-width: 768px) {
  .sub__user-input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .sub__user-input {
    width: 358px;
    margin-bottom: 0px;
  }
}

.sub__send-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  width: 200px;
  height: 50px;
  gap: 10px;
  transition: background var(--animation);
  margin-left: auto;
  margin-right: auto;
}
.sub__send-button:hover, .sub__send-button:focus {
  background-color: var(--hero-button-accent);
}

.sub__icon-svg-send {
  fill: var(--white-color);
  display: inline;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 1200px) {
  .dignity-section {
    padding-bottom: 0;
  }
}

.dignity-list {
  justify-content: space-between;
  /* flex-wrap: wrap;    
  margin-left: 30px; */
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .dignity-list {
    display: flex;
    flex-wrap: wrap;
  }
}

.dignity-item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .dignity-item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .dignity-item {
    width: calc((100% - 90px) / 4);
  }
}
.dignity-item::before {
  display: block;
  content: "";
  height: 120px;
  margin-bottom: 30px;
  background: var(--fake-white);
  background-size: contain 70px 70px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
}

.icon-antenna::before {
  background-image: url(../images/antenna.svg);
}

.icon-clock::before {
  background-image: url(../images/clock.svg);
}

.icon-diagram::before {
  background-image: url(../images/diagram.svg);
}

.icon-astronaut::before {
  background-image: url(../images/astronaut.svg);
}

.dignity-header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--heading-black-color);
  margin-bottom: 10px;
}
@media screen and (max-width: 768px) {
  .dignity-header {
    display: flex;
    justify-content: center;
  }
}

.dignity-paragraph {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.section-studio-hidden {
  display: none;
}
@media screen and (min-width: 1200px) {
  .section-studio-hidden {
    display: block;
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.studio-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--heading-black-color);
  margin-bottom: 50px;
}

.studio-list {
  display: flex;
  justify-content: space-between;
}

.studio-item {
  position: relative;
  text-align: center;
}

.studio-text {
  position: absolute;
  bottom: 0;
  padding-bottom: 27px;
  padding-top: 27px;
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  background: var(--studio-text-background);
  color: var(--white-color);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.crew {
  background-color: var(--fake-white);
}
.crew img {
  margin-bottom: 30px;
}

.container__heading {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--heading-black-color);
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .container__heading {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 768px) {
  .crew__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .crew__list {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}

.crew__space {
  text-align: center;
  margin-bottom: 16px;
}

.crew__item {
  padding-bottom: 24px;
  margin-bottom: 30px;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.crew__item:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .crew__item {
    width: calc((100% - 30px) / 2);
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .crew__item {
    width: calc((100% - 90px) / 4);
  }
}

.crew__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--heading-black-color);
  margin-bottom: 10px;
}

.crew__professioin {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.clients-haeding {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--heading-black-color);
  margin-bottom: 50px;
}
@media screen and (min-width: 1200px) {
  .clients-haeding {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
  }
}

.clients-list {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.client-item {
  height: 92px;
  display: flex;
  width: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .client-item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .client-item {
    width: calc((100% - 150px) / 6);
  }
}

.client-link {
  fill: var(--icon-passive-color);
  border: 1px solid;
  border-color: var(--icon-passive-color);
  border-radius: 4px;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  /* padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 32px;
  padding-left: 32px; */
  transition: fill var(--animation), border-color var(--animation);
}
.client-link:hover, .client-link:focus {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}
.client-link + .client-link {
  margin-left: 30px;
}

.client-icon {
  display: flex;
}

.backdrop {
  width: 100%;
  height: 100%;
  background: var(--backdrop-background);
  position: fixed;
  top: 0;
  transition: opacity var(--animation), visibility var(--animation);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  background: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  max-width: calc(100% - 30px);
  min-height: 581px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  position: absolute;
  transition: transform var(--animation);
  padding: 40px;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-close-button {
  width: 30px;
  height: 30px;
  border: 1px solid var(--modal-button-bor);
  border-radius: 50%;
  background-color: transparent;
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: fill var(--animation);
}
.modal-close-button:focus, .modal-close-button:hover {
  fill: var(--accent-color);
  outline: none;
}

.modal-head-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--modal-head-text-color);
  margin-bottom: 12px;
}

.input-wrap {
  position: relative;
}

.modal-svg-input {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.modal-field {
  margin-bottom: 10px;
}

.modal-description {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  padding-right: 12px;
  outline: none;
  transition: var(--animation);
}
.modal-input:focus {
  border: 1px solid var(--accent-color);
  border-radius: 4px;
}

.modal-svg-input {
  transition: var(--animation);
}
.modal-input:focus + .modal-svg-input {
  fill: var(--accent-color);
}

.feedback-field {
  margin-bottom: 20px;
}

.feedback-par {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--paragraph-gray-color);
  margin-bottom: 4px;
}

.modal-feedback {
  resize: none;
  width: 100%;
  height: 120px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: var(--animation);
}
.modal-feedback:focus {
  border-color: var(--accent-color);
}
.modal-feedback::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  -moz-transition: var(--animation);
  transition: var(--animation);
}
.modal-feedback:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  -ms-transition: var(--animation);
  transition: var(--animation);
}
.modal-feedback::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  transition: var(--animation);
}

.modal-checkbox-label {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px;
  align-items: center;
}
.modal-checkbox-label span {
  width: 16px;
  height: 15px;
  border: 2px solid #171a24;
  border-radius: 3px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: var(--animation);
}
.modal-checkbox-input:checked + .modal-checkbox-label span {
  background-color: var(--accent-color);
  border-color: transparent;
  fill: var(--white-color);
}
.modal-checkbox-input:focus + .modal-checkbox-label span {
  border-color: var(--accent-color);
}

.modal-checkbox-input {
  display: flex;
}

.modal-checkbox-text {
  display: flex;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.checkbox-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.modal-sending-button {
  display: flex;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 52px;
  padding-right: 52px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-color);
  margin-left: auto;
  margin-right: auto;
  border: none;
  transition: background var(--animation);
}
.modal-sending-button:hover, .modal-sending-button:focus {
  background: var(--hero-button-accent);
}

.filters {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.filter-item {
  margin-right: 8px;
}

.filter-button {
  cursor: pointer;
  background: var(--fake-white);
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--heading-black-color);
  border: none;
  font-weight: 500;
  font-family: inherit;
  padding: 6px 25px;
  transition: color var(--animation), background var(--animation), border-radius var(--animation), box-shadow var(--animation);
}
.filter-button:hover, .filter-button:focus {
  background: var(--accent-color);
  box-shadow: 0px 3px 1px var(--shadow-color-one), 0px 1px 2px var(--shadow-color-two), 0px 2px 2px var(--shadow-color-three);
  border-radius: 4px;
  color: var(--white-color);
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project-item {
  width: 370px;
  margin-bottom: 30px;
  border: 1px solid var(--portfolio-line);
  transition: box-shadow var(--animation);
}
.project-item:hover, .project-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.project-item:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.project-mitten {
  position: relative;
  align-items: center;
  overflow: hidden;
}

.project-text {
  position: absolute;
  text-decoration: none;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 63px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--white-color);
  background: var(--project-text-background);
  transform: translateY(100%);
  transition: var(--animation);
}
.project-item:hover .project-text {
  transform: translateY(0);
  overflow: visible;
  overflow: auto;
}

.projects-space {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}

.project-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--heading-black-color);
  margin-bottom: 4px;
}

.project-type {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--paragraph-gray-color);
}/*# sourceMappingURL=main.css.map */