
/* h1,
h2,
h3,
ul,
p{
    margin: 0;
    padding: 0;
} */






/* -------------RESET----------------- */



/*-------------------------------HEADER-----------------------------*/





/* .contacts-item:before{
    content:"";
    display:inline-block;
    flex-direction:row-reverse;
    background-size:contain;
    width: 16px;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-position:center;
} */

/* .icon-envelope:before{
    background-image: url(../images/envelope.svg);
    height:16px;
}

.icon-smartphone:before{
    background-image: url(../images/smartphone.svg);
    height: 16px;
} */



/*-------------------------------HERO-----------------------------*/



/*------------------------------DIGNITY---------------------------*/



/*--------------------------STUDIO------------------------------*/


/*------------------------TEAM------------------------------*/



/* icons------------------------------- */


/* ----------------------CLIENTS------------------------------ */



/*------------------------FOOTER------------------------------*/





/* -----------------------MODAL_WINDOW------------------------ */


/*------------------------FILTERS------------------------------*/


/*------------------------PROJECTS------------------------------*/

