.dignity-section {
    @media screen and (min-width: 1200px) {
    padding-bottom: 0;  
}
}
.dignity-list {
    // display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap;    
    margin-left: 30px; */
    gap:30px;
    @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    }
}


.dignity-item {
    // width: 270px;
    width: 100%;
    @media screen and (min-width: 768px) {
       width:calc((100% - 30px)/2);
    }
    @media screen and (min-width: 1200px) {
        width: calc((100% - 90px)/4);
    }
    &::before {
        display: block;
        content: "";
        height: 120px;
        margin-bottom: 30px;
        background: var(--fake-white);
        background-size: contain 70px 70px;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 4px;
    }
    // &+& {
    //     // margin-left: 30px;
    //     gap: 30px
    //     ;
    // }
}

.icon-antenna::before {
    background-image: url(../images/antenna.svg);
}

.icon-clock::before {
    background-image: url(../images/clock.svg);
}

.icon-diagram::before {
   background-image: url(../images/diagram.svg);
}

.icon-astronaut::before {
    background-image: url(../images/astronaut.svg);
    }


.dignity-header {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--heading-black-color);
    margin-bottom: 10px;
    @media screen and (max-width: 768px) {
        display: flex;
        justify-content: center;
    }
}

.dignity-paragraph {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

}